.myorder-main-container-cnt{
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 10px;
}
.myorder-container-cnt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid rgb(150, 148, 143);
   
}
.myorder-right-side-container-cnt{
    padding: 5px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.myorder-raound-cnt{
    height: 2px;
    width: 0px;
    min-width: 5px;
    min-height: 2px;
    border: 2px solid ridge;
    border-radius: 100%;
    padding: 3px;
    background-color: rgb(183, 67, 67);
    margin: 8px
}
.myorder-text-cnt{
    font-size: 17px;
    // font-weight: 100;
}